/* src/components/AddItem.css */

/* Contêiner principal */
.add-item-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Estilos para os títulos */
.add-item-container h2 {
  color: #6a0dad;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para os rótulos */
.add-item-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

/* Estilos para os campos de entrada */
.add-item-container input,
.add-item-container select {
  width: calc(100% - 30px);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Estilos para a seleção de categorias */
.category-selection {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

/* Estilos para o botão de adicionar categoria */
.add-category-button {
  margin-left: 10px;
  padding: 10px;
  background-color: #6a0dad;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px; /* Alinha verticalmente com o campo de seleção */
}

/* Estilos para os botões de ação */
.save-item-button,
.back-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.save-item-button {
  background-color: #6a0dad;
  color: #fff;
}

.save-item-button:hover {
  background-color: #5e009b;
}

.back-button {
  background-color: #ccc;
  color: #333;
}

.back-button:hover {
  background-color: #bbb;
}

/* Estilos para o modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Alinhamento dos botões no modal */
.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Espaçamento entre os botões */
  margin-top: 20px;
}

/* Estilo para o botão de adicionar categoria no modal */
.save-category-button {
  background-color: #6a0dad;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.save-category-button:hover {
  background-color: #5e009b;
}

/* Estilo para o botão de cancelar no modal */
.cancel-edit-button {
  background-color: #f44336;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.cancel-edit-button:hover {
  background-color: #d32f2f;
}
