/* src/components/HomePage.css */
.home-container {
    text-align: center;
    padding: 40px;
  }
  
  .options-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .option-button, .logout-button {
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background-color: #6a0dad; /* Roxo */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .option-button:hover, .logout-button:hover {
    background-color: #5e009b; /* Roxo mais escuro */
  }
  
  .logout-button {
    background-color: #e63946; /* Vermelho */
  }
  
  .logout-button:hover {
    background-color: #d62839; /* Vermelho mais escuro */
  }
  