.stock-movement-container {
    text-align: center;
    padding: 40px;
  }
  
  .movement-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .movement-form input, .movement-form select, .movement-form button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .movement-form button {
    background-color: #6a0dad; /* Roxo */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .movement-form button:hover {
    background-color: #5e009b; /* Roxo mais escuro */
  }
  
  .movement-list {
    margin-top: 20px;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .movement-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .movement-list li {
    padding: 15px; /* Aumenta o padding para mais espaço ao redor do texto */
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px; /* Adiciona um espaçamento entre os itens */
    background-color: #fafafa; /* Adiciona um fundo leve para contraste */
    border-radius: 4px; /* Arredonda os cantos para um visual mais suave */
    display: flex;
    flex-direction: column; /* Organiza o conteúdo verticalmente */
    gap: 5px; /* Espaçamento entre as linhas de texto */
  }


  .movement-list li strong {
    display: inline-block; /* Faz os labels serem exibidos em linha */
    width: 120px; /* Ajusta a largura dos labels para alinhamento */
    font-weight: bold;
    color: #333; /* Cor dos labels para contraste */
  }

  .movement-list li span {
    font-size: 16px; /* Ajusta o tamanho da fonte do texto dos itens */
    color: #333; /* Define a cor do texto para melhorar a legibilidade */
  }
  
  .movement-list {
    max-height: 400px; /* Ajuste conforme necessário */
    overflow-y: auto;
  }
  
  .filter-container {
    margin-bottom: 20px;
  }
  
  .filter-container input,
  .filter-container select {
    margin-right: 10px;
  }
  